body {
   background-image: url("weatherappbg1.png");
   background-size: cover;
}   

header {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    justify-content: center;
    font-size: 35px;
   
}
.listStyle {
    list-style: none;
}

.hide {
    display: none;
}
