body {
   background-image: url("weatherappbg1.png");
   background-size: cover;
}   

header {
    display: flex;
    justify-content: space-between;
}

div.card {
    /* border: 3px;
    background-color: rgba(19, 116, 190, 0.625);
    width: 20vh;
    height: 20vh;
    display: flex;
    flex-wrap: wrap; */
   

}